html {
  /* this makes sure the padding and the border is included in the box sizing */
  overflow-x: hidden;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
  border-bottom: 1px ridge;
  font-size: 30px;
  flex: 1;
  background-color: white;
  min-height: 60px;
}

.header-app-name {
  font-family: Brush Script MT;
}

.header-item {
  margin-left: 5px;
}

.header-avatar {
  display: inline-block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.header-menu {
  min-width: 150px;
}

.header-menu-item {
  padding: 10px 0px 10px 20px;
}

.header-menu-item:hover {
  background-color: #fafafa;
}

.header-menu-last-item {
  border-bottom: 1px ridge;
}

.border-around {
  outline: 1px black;
  outline-style: solid;
  outline-offset: 1px;
}

.header-btn-login {
  margin-bottom: 5px;
  box-shadow: none;
}

.header-btn-signup {
  margin-bottom: 5px;
  margin-left: 5px;
}

.link:hover {
  color: black;
  text-decoration: 'none'
}

.link {
  color: black;
  text-decoration: 'none'
}


.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 10px 30px 10px 30px;
  margin: 0px auto;
  background: white;
  /* color: floralwhite; */
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}