html {
  /* this makes sure the padding and the border is included in the box sizing */
  overflow-x: hidden;
  font-family: 'Neue Helvetica';
}

html, body, #root, #root>div {
  height: 100%
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
  border-bottom: 1px ridge;
  font-size: 30px;
  flex: 1;
  background-color: white;
  min-height: 60px;
}

.flex-align-left {
  display: flex;
  align-items: center;
}

.modal-custom-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center !important;
  height: 3rem;
  border-bottom: 1px ridge;
  font-weight: bold;
}

.modal-close-button {
  position: absolute;
  right: 3%;
  top: 35%
}


.modal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.modal-item-button {
  width: 6rem;
  height: 2rem;
}

.modal-username {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.modal-name {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

/* .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.modal-avatar {
  width: 2.7rem;
  height: 2.7rem;
}

.modal-custom-like {
  max-width: 26% !important;
}

.modal-custom-body {
  height: 22rem;
  /* height: 2.5rem; */
  overflow-y: auto;
}

.modal-content {
  border-radius: 0.7rem !important;
  height: 100%;
}

.modal-custom-post {
  height: 90%;
  max-width: fit-content !important;
}

.modal-custom-post-add {
  height: fit-content !important;
  max-width: fit-content !important;
}

.pointer-cursor {
  cursor: pointer;
}

.header-app-name {
  font-family: Brush Script MT;
  cursor: pointer;
}

.header-item {
  margin-left: 5px;
}

.avatar {
  display: inline-block;
  border-radius: 50%;
}

.header-avatar {
  width: 26px;
  height: 26px;
}

.form-avatar {
  width: 40px;
  height: 40px;
}

.header-menu {
  min-width: 150px;
}

.header-menu-item {
  padding: 10px 0px 10px 20px;
}

.header-menu-item:hover {
  background-color: #fafafa;
}

.header-menu-last-item {
  border-bottom: 1px ridge;
}

.border-around {
  outline: 1px black;
  outline-style: solid;
  outline-offset: 1px;
}

.header-btn-login {
  margin-bottom: 5px;
  box-shadow: none;
}

.header-btn-signup {
  margin-bottom: 5px;
  margin-left: 5px;
}


.link:hover {
  color: black;
  text-decoration: 'none'
}

.link {
  color: black;
  text-decoration: 'none'
}

.signup-formgroup {
  position: relative
}

.signup-formgroup-icon {
  position: absolute;
  top: 20%;
  right: 5%;
}

.icon-red {
  color: red;
}

.icon-green {
  color: green;
}

.contain {
  width: 100%;
  height: 100vh;
  background: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;
}

.setting-item {
  padding: 10px 0px 10px 20px;
  border: 2px solid transparent;
  height: 3.5rem;
  align-items: center;
  display: flex;
}

.setting-item:hover {
  background-color: #fafafa;
  border-left: 2px solid gray;
}

.setting-item-selected {
  background-color: #fefefe;
  border-left: 2px solid;
  font-weight: bold;
}

.edit-profile-label {
  font-weight: bold;
}

.edit-profile-username {
  font-size: larger;
}


.toasts {
  min-width: 100vw;
  height: 3rem !important;
  background: black;
  color: white;
  opacity: 0.8;
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.toasts-text {
  margin-left: 2rem;
  font-size: medium;
}

.spinner {
  margin: auto;
  width: 20px;
  height: 20px;
  border: solid black;
  position: absolute;
  left: 48%;
  top: 48%;
  display: block;
}

.privacy-check {
  font-size: 1rem;
  font-weight: 500;
}

.privacy-note {
  font-size: 0.9rem;
  font-weight: 300;
}

.privacy-disabled {
  opacity: 0.5;
}


.privacy-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.story-board {
  height: 7.5rem;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
}

.story-board-item {
  align-items: center;
  padding: 0.5rem;
}

.story-board-text {
  padding-top: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.7;
}

.story-board-avatar {
  width: 3.5rem;
  height: 3.5rem;
}

.story-board-outline {
  outline: 2px rgb(205, 202, 202);
  outline-style: solid;
  outline-offset: 2px;
}

.story-board-outline-unseen {
  outline: 2px rgb(57, 201, 49);
  outline-style: solid;
  outline-offset: 2px;

}

.story-contain {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-control-button {
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}

.header-item {
  margin-left: 5px;
}

.avatar {
  display: inline-block;
  border-radius: 50%;
}

.header-avatar {
  width: 26px;
  height: 26px;
}

.form-avatar {
  width: 40px;
  height: 40px;
}

.header-menu {
  min-width: 150px;
}

.header-menu-item {
  padding: 10px 0px 10px 20px;
}

.header-menu-item:hover {
  background-color: #fafafa;
}

.header-menu-last-item {
  border-bottom: 1px ridge;
}

.border-around {
  outline: 1px black;
  outline-style: solid;
  outline-offset: 1px;
}

.header-btn-login {
  margin-bottom: 5px;
  box-shadow: none;
}

.header-btn-signup {
  margin-bottom: 5px;
  margin-left: 5px;
}


.link:hover {
  color: black;
  text-decoration: 'none'
}

.link {
  color: black;
  text-decoration: 'none'
}

.signup-formgroup {
  position: relative
}

.signup-formgroup-icon {
  position: absolute;
  top: 20%;
  right: 5%;
}

.icon-red {
  color: red;
}

.icon-green {
  color: green;
}

.sticky-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.contain {
  width: 100%;
  height: 100vh;
  background: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;
}

.setting-item {
  padding: 10px 0px 10px 20px;
  border: 2px solid transparent;
  height: 3.5rem;
  align-items: center;
  display: flex;
}

.setting-item:hover {
  background-color: #fafafa;
  border-left: 2px solid gray;
}

.setting-item-selected {
  background-color: #fefefe;
  border-left: 2px solid;
  font-weight: bold;
}

.edit-profile-label {
  font-weight: bold;
}

.edit-profile-username {
  font-size: larger;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toasts {
  position: fixed;
  min-width: 100vw;
  height: 3rem;
  background: black;
  color: white;
  opacity: 0.8;
  z-index: 9999;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.toasts-text {
  margin-left: 2rem;
  font-size: medium;
}

.spinner {
  margin: auto;
  width: 20px;
  height: 20px;
  border: solid black;
  position: absolute;
  left: 48%;
  top: 48%;
  display: block;
}

.privacy-check {
  font-size: 1rem;
  font-weight: 500;
}

.privacy-note {
  font-size: 0.9rem;
  font-weight: 300;
}

.privacy-disabled {
  opacity: 0.5;
}


.privacy-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.story-board {
  height: 7.5rem;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
}

.story-board-item {
  align-items: center;
  padding: 0.5rem;
}

.story-board-text {
  padding-top: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.7;
}

.story-board-avatar {
  width: 3.5rem;
  height: 3.5rem;
}

.story-board-outline {
  outline: 2px rgb(205, 202, 202);
  outline-style: solid;
  outline-offset: 2px;
}

.story-board-outline-unseen {
  outline: 2px rgb(57, 201, 49);
  outline-style: solid;
  outline-offset: 2px;

}

.story-contain {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-slide {
  display: flex;
  position: relative;
  width: 25%;
  height: 95%;
  align-items: center;
  justify-content: center;
  background-color: rgba(251, 251, 251, 0.83);
  border-radius: 1rem;
}

.story-control-button {
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}

.story-control-button:hover {
  color: white;
}

.story-image {
  max-width: 90%;
  max-height: 90%;
}

.story-progress {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 90%;
}

.story-progress-bar {
  display: flex;
}

.story-avatar {
  width: 2.2rem;
  height: 2.2rem;
}

.story-info {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story-info-name {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.story-info-ago {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.fade-text {
  opacity: 0.7;
}

.story-reaction {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 90%;
  left: 5%;
  width: 90%;
}

.story-form {
  width: 90%;
  position: relative;
}

.story-send {
  position: absolute;
  top: 20%;
  right: 5%;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.notransition[aria-valuenow="0"] {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.progress-bar[aria-valuenow="0"] {
  transition: none;
}

.progress-bar[aria-valuenow="105"] {
  transition: none;
}


.post-timeline-card {
  display: flex;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}


.post-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.post-row {
  padding: 0.2rem 0.7rem;
}

.post-row-main {
  padding: 0rem 1rem;
}

.post-row-comment {
  padding-bottom: 0.6rem;
  width: 100%;
}

.post-row-comment-reply {
  padding-bottom: 0.5rem;
}

.post-row-zero-left {
  padding: 0.2rem 0rem;
}


.post-ago {
  font-size: 0.7rem;
}

.post-header-username {
  margin-left: 0.5rem;
}

.post-header-username-main {
  margin-left: 1rem;
}

.post-username {
  font-weight: 600;
  font-size: 0.9rem;
}

.post-header-avatar {
  width: 2rem;
  height: 2rem;
}

.post-image {
  width: 100%;
}

.post-comment-button {
  margin-left: 0.7rem;
}

.post-send-button {
  margin-left: 0.7rem;
}

.post-button:hover {
  opacity: 0.5;
}

.post-like {
  font-weight: 600;
  font-size: 0.9rem;
}

.post-like-zero {
  font-size: 0.9rem;
}

.post-content {
  font-size: 0.9rem;
  white-space: pre-line;
}

.post-button-post {
  color: dodgerblue;
  font-size: 0.9rem;
  font-weight: bold;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}

.post-header-main {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px ridge;
}

.post-comments {
  position: absolute;
  top: 10%;
  left: 0;
  height: 68%;
  width: 100%;
  max-height: 68%;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

.post-detail-main {
  position: absolute;
  top: 78%;
  height: 22%;
  width: 100%;
  left: 0;
  padding: 0rem 0.3rem;
}

.post-comment-info {
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.5;
}

.post-main-slide {
  display: flex;
  background-color: black;
  align-items: center;

}

.post-add-select-file {
  height: 30rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}